/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

$mainDarkBgCl: #3d444c;
$mainLigthBgCl: #efece8;
$mainBorderBgCl: #bfbdba;

html{
    header, footer{
        background-color: $mainDarkBgCl; 
    }
    .wrapper{
        max-width: 1025px;
        margin: 0 auto;
    }
}
