/* Welcme to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";

/* COLORS */
$mainDarkBgCl: #3d444c;
$mainLigthBgCl: #efece8;
$mainBorderBgCl: #bfbdba;
$textCl: #888888;
$HeadersCl: #3b424b;
$HeaderTextCl: #ffffff;
$HoverTextCl: #fee271;
$MainPageBgCl: #efece8;
$MainClUnderContent: #f1f1f1;
$FtrTextCl: #888888;
$ImgBorderCl: #ffffff;
$ButtonCl: #3b424b;

/* OTHERS  */
$mainPadding: 10px;
$mainFont: 13px;
$default-has-layout-approach: zoom !default;

@include font-face("arvobold", font-files("../fonts/arvo-bold-webfont.ttf", "../fonts/arvo-bold-webfont.ttf.otf"));
@include font-face("arvoregular", font-files("../fonts/arvo-regular-webfont.ttf", "../fonts/arvo-regular-webfont.ttf.otf"));

/* MIXINS */
@mixin left {
    display: block;
    float: left;
}
@mixin right {
    display: block;
    float: right;
}
@mixin clearfix {
  overflow: hidden;
  @include has-layout;
}
@mixin grayscale {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}


html{
    color: $textCl;
    background-color: $MainPageBgCl;
    font: $mainFont 'Arial', sans-serif;
    line-height: 1.5;
    text-align: justify;

    h1,h2,h3,h4 { color: $HeadersCl; font-family: 'arvobold'; text-transform: uppercase;}
    h1{ 
        font-size: 3.5em; 
        text-align: center;
        margin: (2 * $mainPadding) 0;
        @media screen and (min-width: 621px) and (max-width: 770px){font-size: 2.8em;}
        @media screen and (min-width: 321px) and (max-width: 620px){font-size: 2.5em;}
        @media screen and (max-width: 320px){font-size:2.1em;}}
    h2{}
    h3{}
    h4{}
    h5{ font-size: 1.1em;  }

    a{
        color: $HoverTextCl;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    


    body{
    margin:0;
    header, footer, .mainSlider{
        background-color: $mainDarkBgCl;
        background: url("../images/Bg.png") repeat $mainDarkBgCl;
        color: $HeaderTextCl;
           h1,h2,h3,h4{
               color: $HeaderTextCl;
           }
    }
    .wrapper{
        max-width: 980px;
        padding: 0 $mainPadding;
        margin: 0 auto;
        @include clearfix;
    }
    header{
        padding-bottom: 2.5 * $mainPadding;
        a.logo{
            img{
                padding: (3 * $mainPadding) 0;
                max-width: 100%;
            }
        }
        nav, ul{
          @include right; 
          @media screen and (max-width: 621px){ 
            @include left;
            width: 100%;}
        }
        ul{
          padding: (6 * $mainPadding) 0 0 0;
          margin: 0;
          @media screen and (max-width: 621px){ 
            padding-top: 0;
            text-align: center;}
         
          li{
            display: inline-block;
            padding: 1% (.5 * $mainPadding);
            a{
                color: $HeaderTextCl;
                text-transform: uppercase;
                text-decoration: none;
                font-family: "arvobold";
                padding-bottom: $mainPadding / 5;
                &:hover, &.active{
                    color: $HoverTextCl;
                    border-bottom: 5px solid $HoverTextCl;
                    text-decoration: none;
                }
            }
          }
        }
    }
    .mainSlider{
        padding-bottom: 5 * $mainPadding;
        @media screen and (max-width: 740px){display: none;}
        img{
            border: 10px solid rgba(0,0,0,0.2);
            max-width: 720px;
            @include left;
            @include grayscale;
        }
        td.infoBox{
            padding-left: 10px;
        }
        
    }
    .content{
        border-top: 10px solid $mainBorderBgCl;
        border-bottom: 10px solid $mainBorderBgCl;
        .wrapper{
            overflow: visible;
            .mainBg{        
                margin: -30px 0;
                padding: 30px 0;
                background-color: $MainClUnderContent;
                position: relative;
                background-image: url('../images/PatternTop.png'), url('../images/PatternBottom.png');
                background-position: 2px top, center bottom;
                background-repeat: no-repeat;
                
                article.featuredWork{
                    padding: 0 1.5%;
                    width: 97%;
                    @include clearfix;
                    figure{
                        width: 30%;
                        padding: 1.6%;
                        margin: 0;
                        @media screen and (min-width: 451px) and (max-width: 620px){width: 46%;}
                        @media screen and (max-width: 450px){width: 98%;}
                        @include left;
                        img{
                            max-width: 280px;
                            width: 92%;
                            @include grayscale;
                            border: 10px solid $ImgBorderCl;
                            @media screen and (max-width: 300px){ border: 5px solid $ImgBorderCl;}
                            @include box-shadow (2px 0 5px rgba(0, 0, 0, 0.29));
                        }
                    }
                    input.submit{
                        background-color: $ButtonCl;
                        border: none;
                        @include right;
                        padding: $mainPadding;
                        color: $HoverTextCl;
                        font-weight: bold;
                        font-family: "arvobold";
                        &:hover{
                            color: $ButtonCl;
                            background-color: $HoverTextCl;
                        }
                    }                    
                }
                
                section.BlogAndTesti{
                    padding: 0 1.5%;
                    width: 97%;
                    overflow: visible;
                    @media screen and (max-width: 620px){display: none;}
                    .blog{
                        width: 49%;
                        margin-left: -32px;
                        @include left;
                        h2{margin-left: 42px;}
                        h3{margin-bottom: 10px;}
                        p{margin-top: 0;}
                        table{
                            td.date{
                                background: url("../images/underDate.png") no-repeat left 20px transparent;
                                width: 72px;
                                height: 90px;
                                padding-right: $mainPadding;
                                vertical-align: top;
                                @include clearfix;
                                padding-top: 20px;
                                text-align: center;
                                span{
                                    color: $HoverTextCl;
                                    font-family: 'arvobold';
                                    width: 100%;
                                    @include left;
                                    &.day{font-size: 21px;}
                                    &.month{font-size: 14px;}
                                    &.year{font-size: 12px;}
                                    
                                }
                            }
                        }
                    }
                    aside.testimonials{
                        width: 49%;
                        @include right;
                        .testimTop{
                            background: url("../images/testimonialsBgTop.png") no-repeat top left transparent;
                            background-size:100% 100%;
                            max-width: 464px;
                            height: 11px;
                        }
                        .testimBtm{
                            p{font-style: italic;}
                            background: url("../images/testimonialsBgBottom.png") no-repeat bottom left transparent;
                            background-size: 100%; 
                            padding: 9px 20px 40px;
                            max-width: 424px;
                        }
                        span{
                            padding-left: 75px;
                            margin-top: -15px;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    footer{
        padding-bottom: 5%;
        .wrapper{
            padding: $mainPadding;
            .mainFtrCont{
                width: 100%;
                padding-top: 3 * $mainPadding;
                @include clearfix;
                .footerBox{
                    @media screen and (max-width: 770px){ display: none;}
                    @include left;
                    width: 220px;
                    min-height: 220px;
                    padding: 0 $mainPadding;
                    &.last{
                        @media screen and (max-width: 995px){ display: none;}}
                    p, table span, li{
                        font-size: $mainFont * .846;
                        color: $FtrTextCl;
                        text-align: left;
                    }
                    table{ 
                        border-spacing:0;
                        border-collapse:collapse;
                        td{
                            vertical-align: top;}
                    }
                    ul{
                        padding-left: 2.5 * $mainPadding;
                        li{
                            list-style-image:url('../images/smallTwitter.png');
                            padding-bottom: 2 * $mainPadding;
                            strong{
                                font-weight: normal;
                                color: $HeaderTextCl;
                            }
                        }
                    }
                    a.withImg{
                        @include left;
                        padding: 0 7px 5px 0;
                        img{
                            width: 60px;
                            height: 60px;
                            border: 3px solid $ImgBorderCl;
                            @include box-shadow( rgba(0, 0, 0, 0.56) 0px 0px 9px);
                            @include grayscale;
                        }
                    }
                }
            }
            .ftrInfo{
                padding-top: 5%;
                span{
                    padding: 0 $mainPadding;
                }
                .FtrSocial{
                    @include right;
                    img{
                        padding: 0 $mainPadding;
                        @media screen and (max-width: 416px){ padding: $mainPadding; }
                    }
                }
            }
        }
    }
    }

}

