/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* COLORS */
/* OTHERS  */
/* MIXINS */
/* line 37, ../sass/screen.scss */
html {
  color: #888888;
  font: 13px "Arial", sans-serif;
  line-height: 1.5;
  text-align: justify;
}
/* line 43, ../sass/screen.scss */
html h1, html h2, html h3, html h4 {
  color: #3b424b;
}
/* line 47, ../sass/screen.scss */
html h4 {
  font-size: 14px;
}
/* line 49, ../sass/screen.scss */
html header, html footer, html .mainSlider {
  background-color: #3d444c;
  color: white;
}
/* line 52, ../sass/screen.scss */
html header h1, html header h2, html header h3, html header h4, html footer h1, html footer h2, html footer h3, html footer h4, html .mainSlider h1, html .mainSlider h2, html .mainSlider h3, html .mainSlider h4 {
  color: white;
}
/* line 56, ../sass/screen.scss */
html .wrapper {
  max-width: 980px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 61, ../sass/screen.scss */
html header {
  padding-bottom: 25px;
}
/* line 64, ../sass/screen.scss */
html header a.logo img {
  padding: 30px 0;
  max-width: 100%;
}
/* line 69, ../sass/screen.scss */
html header nav, html header ul {
  display: block;
  float: right;
}
/* line 72, ../sass/screen.scss */
html header ul {
  padding-top: 60px;
}
/* line 74, ../sass/screen.scss */
html header ul li {
  display: inline-block;
  padding: 1% 5px;
}
/* line 77, ../sass/screen.scss */
html header ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 81, ../sass/screen.scss */
html header ul li a:hover, html header ul li a.active {
  color: #fee271;
  border-bottom: 5px solid #fee271;
}
